* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #7c7c7c7;
  --gap: 0.5vmin;
  --cell-height: 8vmin;
  --cell-width: 8vmin;
  --border-radius: 0.5vmin;
  --cell-bg: #f2f2f2;
  --filled-bg: #d9d9d9;
  --selected-bg: #ffdbb3;
  --highlight-bg: #fff3e5;
  --error-bg: #ff8c8c;
}

.cell,
.number,
.header > div {
  cursor: pointer;
}

body {
  height: 100vh;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  display: flex;
  justify-content: space-around;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: var(--gap);
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cell-bg);
  width: var(--cell-width);
  height: var(--cell-height);
  border-radius: var(--border-radius);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--cell-height);
  width: var(--cell-width);
  border-radius: var(--border-radius);
  background: var(--cell-bg);
}

.cell.filled {
  background: var(--filled-bg);
}

.cell.highlight {
  background: var(--highlight-bg);
}

.cell.selected {
  background: var(--selected-bg);
}

.cell.error {
  background: var(--error-bg);
}

.cell:nth-child(3),
.cell:nth-child(6) {
  margin-right: var(--gap);
}

.cell:nth-child(19),
.cell:nth-child(46) {
  margin-bottom: var(--gap);
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  gap: var(--gap);
}

.zoom {
  animation: zoom 0.7s ease-in;
}

@keyframes zoom {
  0% {
    transform: scale(1.2);
  }
}
